* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.descuentos {
  background-color: #1cd1b0;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
}

.titulo {
  background-color: #00669f;
  font-weight: normal;
  height: 100px;
  padding: 17px 0px 0px 36px;
  font-size: 25px;
}

.contenedor-tarjetas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
  flex-wrap: wrap;
}

.tarjetas {
  width: 300px;
  height: 620px;
  background-color: #f3f3f3;
  text-align: center;
  margin: 60px;
  position: relative;
}

#corazon {
  position: absolute;
  top: 31px;
  left: 43px;
  width: 40px;
}

#foto-perfil {
  position: relative;
  top: -100px;
  border-radius: 100px;
  width: 150px;
}

.imagen-fondo {
  width: 300px;
}

.contenedor-texto {
  position: relative;
  top: -97px;
  font-size: 17px;
}

.contenedor-texto p {
  text-align: justify;
  position: relative;
  top: 24px;
  margin: 0% 5%;
}

button {
  background-color: #00669f;
  color: white;
  font-size: 18px;
  border-style: none;
  width: 122px;
  height: 51px;
  border-radius: 10 px;
}

footer {
  background-color: #00669f;
  color: white;
  height: 50px;
  font-size: 12px;
  padding: 10px;
}

footer p {
  align-items: center;
}

@media screen and (max-width: 300px) {
  .tarjetas {
    width: 260px;
  }

  .imagen-fondo {
    width: 260px;
  }
}
